@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Quicksand:wght@500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2.4rem;
  font-family: sans-serif;
  color: #5a3e2b;
  font-family: 'Quicksand';
  font-weight: 500;
}

.app {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr 0.125fr;
}

h1 {
  text-align: center;
  background-color: #f4a226;
  font-family: 'Monoton';
  font-size: calc(1.8rem + 4vw);
  text-transform: uppercase;
  font-weight: 400;
  word-spacing: 30px;
  letter-spacing: -5px;
  padding: 2.4rem 0;
  line-height: 1.2;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
h1 span {
  display: inline-block;
  margin: 1rem;
}
h1 span.header-icon {
  margin: 0;
  font-size: 3vw;
  margin-left: auto;
  margin-right: 0;
}

h1 span.header-icon:last-child {
  margin-left: 0;
  margin-right: auto;
}

h1 span.title span:last-child {
  margin-left: 0.5vw;
}

.add-form {
  background-color: #e5771f;
  padding: 2.8rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.8rem;
  flex-wrap: wrap;
}

.add-form h3 {
  text-align: center;
}

.add-form > div {
  display: flex;
  gap: 1.2rem;
  flex-wrap: wrap;
  justify-content: center;
}

h3 {
  font-size: 2.4rem;
}

button,
select,
input {
  background-color: #ffebb3;
  color: #5a3e2b;
  font-family: inherit;
  border: none;
  border-radius: 10rem;
  padding: 1.2rem 3.2rem;
  font-weight: 700;
  font-size: 1.8rem;
  cursor: pointer;
  outline-color: #f4a226;
}

select {
  -webkit-appearance: none;
  padding-right: 3.5rem;
}

.select-quantity {
  position: relative;
}
.select-quantity svg {
  position: absolute;
  right: 13px;
  top: calc(50% - 3px);
  width: 10px;
  height: 6px;
  stroke-width: 2px;
  stroke: #5a3e2b;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  pointer-events: none;
}

option {
  background-color: #f4a226;
}

input:focus,
select:focus {
  outline: none;
  box-shadow: 0 0 4px 2px #f4a226;
}

.add-form button {
  text-transform: uppercase;
  background-color: #bcffe9;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.055);
}

.list {
  background-color: #5a3e2b;
  color: #ffebb3;
  padding: 4rem 0;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 3.2rem;
  align-items: center;
}

.list li span:first-child {
  justify-content: center;
  flex-basis: 3%;
}

.actions button,
.list select {
  text-transform: uppercase;
  padding: 0.8rem 2.4rem;
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0 0.8rem;
}

.list ul {
  list-style: none;
  width: 80%;
  height: 100%;
  max-height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 1.2rem;
  row-gap: 2.4rem;
  justify-content: center;
  align-content: start;
}

.list li {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.list li > span {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

input[type='checkbox'] {
  height: 2rem;
  width: 2rem;
  accent-color: #e5771f;
}

.list li button {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1.8rem;
  padding: 0.8rem;
  transform: translateY(2px);
}

.stats {
  background-color: #bcffe9;
  text-align: center;
  font-weight: 700;
  padding: 3.2rem 0;
  font-size: 2.2rem;
}

.stats em {
  display: block;
  max-width: 75%;
  margin-inline: auto;
}

span.pack-item-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5771f;
  border-radius: 50%;
  width: 2vw;
  height: 2vw;
  padding: 1.5vw;
  font-size: 1.5vw;
  min-width: 32px;
  min-height: 32px;
  font-weight: 700;
  transform: translateY(3px);
}

@media (max-width: 57em) {
  h1 {
    font-size: calc(3.2rem + 4vw);
  }
  .add-form {
    gap: 3rem;
    padding: 3.5rem 0;
  }
  span.pack-item-quantity {
    width: 2vw;
    height: 2vw;
    padding: 1.5vw;
    font-size: 2.1vw;
  }
}

@media (max-width: 36em) {
  h1 {
    flex-direction: column;
  }
  h1 span.header-icon {
    margin: 0;
    font-size: 1em;
  }
  h1 span.header-icon:last-child {
    margin: 0;
  }
  span.pack-item-quantity {
    width: 2vw;
    height: 2vw;
    padding: 1.5vw;
    font-size: 3vw;
  }
}

@media (max-width: 31em) {
  html {
    font-size: 45%;
  }

  h1 {
    position: relative;
  }

  h1 span {
    display: inline;
  }

  h1 span.title {
    font-size: calc(1.2rem + 10vw);
  }

  h1 span.header-icon {
    position: absolute;
    left: 0;
    font-size: 10vw;
    transform: rotate(13deg) translate(10px, -3px);
  }

  h1 span.header-icon:last-child {
    left: unset;
    right: 0;
    transform: rotate(10deg) translate(-22px, 3px);
  }
}
